{% extends "base.html" %}
{% block content %}
    <div ng-app="app">
        <div ng-view></div>
    </div>
{% endblock %}

{% block post_scripts %}
        <script src="/static/js/vendor/jquery-2.0.0.min.js"></script>
        <script src="/static/js/vendor/bootstrap.min.js"></script>
        <script src="/static/js/vendor/angular.min.js"></script>
        <script src="/static/js/vendor/angular-resource.min.js"></script>
        <script src="/static/js/vendor/angular-ui.min.js"></script>
        <script src="/static/js/vendor/bootstrap-editable-inline.min.js"></script>

        <script src="/static/js/app.js"></script>
{% endblock %}