{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block content_navigation %}
<div class="masthead">
  <h3 class="muted">
  	<a href="/"><img src="/static/img/logo.png" width="50" style="margin-left: 10px;"/></a>
  	<a href="/">Beercoin</a>
  </h3>
  <h4 class="muted">
  	The Beer to Beer network.
  </h4>
  <div class="navbar">
    <div class="navbar-inner">
		<div class="container">
		  <ul class="nav">
		    <li><a href="/#/profile/{{appState.user.username}}">Home</a></li>
		    <li><a href="/#/profiles/">People around you</a></li>
		    <li><a href="/#/about/">About</a></li>
		  </ul>
		  <ul class="nav pull-right">
		    <li class="profile_with_icon">
		    	<a href="/#/profile/{{appState.user.username}}">
		    		<img src="{{appState.user.icon}}" class="img-circle pull-left"/>
		    		Profile
		    	</a>
		    </li>
		    <li><a href="/accounts/signout/">Log out</a></li>
		  </ul>
		</div>
    </div>
  </div><!-- /.navbar -->
</div>{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Edit e-mail for {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form action="" method="post">

	<div class="btn-group">
      <a href="{% url 'userena_profile_edit' user.username %}" class="btn">{% trans "Edit profile" %}</a>
	  <a href="{% url 'userena_password_change' user.username %}" class="btn">{% trans "Change password" %}</a>
	  <a href="{% url 'userena_email_change' user.username %}" class="btn active">{% trans "Change email" %}</a>
	</div>
	<br/><br/>

  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Change email address" %}</legend>

    {% for field in form %}
		<p>
		    {% if field.errors %}
			    <div class="control-group error">
		    {% endif %}
			    <div>
				    {{ field.label_tag }}
				    {{ field }}
			    </div>
		    {% if field.errors %}
			    <div class="alert alert-error">{{ field.errors }}</div>
			    </div>
		    {% endif %}
		</p>
    {% endfor %}

  </fieldset>
  <input type="submit" value="{% trans "Change email" %}" class="btn btn-primary"/>
</form>
{% endblock %}
