{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">

	<div class="span2">
	</div>
	<div class="span4">
		
		<br/><br/><br/>
		
		<img src="/static/img/logo_small.png" width="80%"/>
		<br/>
		<h1>Beercoin</h1>
		<h4>The beer to beer network.</h4>

	</div>
	<div class="span4">
<br/><br/>

<form action="" method="post" class="form-signin">
  {% csrf_token %}
  <fieldset>
    <h2 class="form-signin-heading">{% trans "Signup" %}</h2>

    {% if form.non_field_errors %}
	    <div class="alert alert-error">
	    {{ form.non_field_errors }}
	    </div>
    {% endif %}

    {% for field in form %}
	    {% comment %} Displaying checkboxes differently {% endcomment %}
	    {% if field.name == 'tos' %}
		    <p class="checkbox">
		    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
		    </p>
	    {% else %}
			<p>
			    {% if field.errors %}
				    <div class="control-group error">
			    {% endif %}
				    <div>
					    {{ field.label_tag }}
					    {{ field }}
				    </div>
			    {% if field.errors %}
				    <div class="alert alert-error">{{ field.errors }}</div>
				    </div>
			    {% endif %}
			</p>
	    {% endif %}

    {% endfor %}

  <input class="btn btn-large btn-primary" type="submit" value="{% trans "Signup"%}" />
  </fieldset>
  <br/><br/>
  Already have an account? <a href="/accounts/signin">Sign in</a> instead. 
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>

	</div>
	<div class="span2">
	</div>
</div>
{% endblock %}
