{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<div class="row">

	<div class="span1">
	</div>
	<div class="span6">
		
		<br/>
		
		<div class="media">
			<a class="pull-left">
				<img src="/static/img/logo_small.png" width="100"/>
			</a>
			<div class="media-body">
				<h1>Beercoin</h1>
				<h4>The beer to beer network.</h4>
			</div>
		</div>

		<br/>
		<iframe width="95%" height="300" src="http://www.youtube.com/embed/yffJ69gUjRM" frameborder="0" allowfullscreen></iframe>

	</div>
	<div class="span4">
<br/><br/>

<form action="" method="post" class="form-signin">
  {% csrf_token %}
  <fieldset>
    <h2 class="form-signin-heading">{% trans "Signin" %}</h2>

	    {% if form.non_field_errors %}
		    <div class="alert alert-error">
		    {{ form.non_field_errors }}
		    </div>
	    {% endif %}
    

    {% for field in form %}
	    {% comment %} Displaying checkboxes differently {% endcomment %}
	    {% if field.name == 'remember_me' %}
		    <p class="checkbox">
		    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
		    </p>
	    {% else %}
			<p>
			    {% if field.errors %}
				    <div class="control-group error">
			    {% endif %}
				    <div>
					    {{ field.label_tag }}
					    {{ field }}
				    </div>
			    {% if field.errors %}
				    <div class="alert alert-error">{{ field.errors }}</div>
				    </div>
			    {% endif %}
			</p>
	    {% endif %}

    {% endfor %}

  </fieldset>
  <input class="btn btn-large btn-primary" type="submit" value="{% trans "Signin" %}" />
  <br/><br/>
  <p class="forgot-password">
  	<a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a>
  	<br/>
  	<a href="{% url 'userena_signup' %}" title="{% trans 'Signup' %}">{% trans "Sign up" %}</a> instead?
  </p>
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>

	</div>
	<div class="span1">
	</div>
</div>
{% endblock %}
