<div class="row">

	<div class="span6">
		<img src="/static/img/in_beer_we_trust.jpg" width="80%" style="margin: 10px auto;"/>
	</div>
	<div class="span6">
		<br/>
		<h3>Made on AngelHack Berlin 2013</h3>
		by
		<br/>
		<br/>
		<ul>
			<li><a href="http://www.create-build-execute.com/">Benjamin Kampmann</a></li>
			<li><a href="http://www.buryat.me">Buryat aka Evgeny Onutchin</a></li>
			<li>David Klehr</li>
			<li>Hoa Huynh</li>
			<li><a href="http://www.wimagguc.com/">Richard Dancsi</a></li>
		</ul>
		<br/>
		<br/>
		Special thanks to:
		<br/>
		<br/>
		<ul>
			<li>Python</li>
			<li>Django</li>
			<li>Github</li>
			<li>Twitter Bootstrap</li>
			<li>Angular.js</li>
			<li>Pusher</li>
			<li>Mailjet</li>
			<li>Heroku</li>
			<li>Domain.me</li>
		</ul>
	</div>

</div>
