<ng-switch on="action.verb">

	<div ng-switch-when="freed">
		went out with <a href="/#/profile/{{action.object.username}}">{{action.object.username}}</a>, who gave them a beer ({{action.when|since}}) {{action.data.comment}}
	</div>

	<div ng-switch-when="issued">
		owes <a href="/#/profile/{{action.object.username}}">{{action.object.username}}</a> a beer ({{action.when|since}}).
		{{action.data.comment}}
	</div>

</ng-switch>