<div class="masthead">
  <h3 class="muted">
  	<a href="/"><img src="/static/img/user.png" width="50" style="margin-left: 10px;"/></a>
  	<a href="/">BeerCoin</a>
  </h3>
  <h4 class="muted">
  	The Beer to Beer network.
  </h4>
  <div class="navbar">
    <div class="navbar-inner">
		<div class="container">
		  <ul class="nav">
		    <li><a href="/#/profile/{{appState.user.username}}">Home</a></li>
		    <li><a href="/#/profiles/">People around you</a></li>
		  </ul>
		  <ul class="nav pull-right">
		    <li><a href="/#/profile/{{appState.user.username}}">Profile</a></li>
		    <li><a href="/accounts/signout/">Log out</a></li>
		  </ul>
		</div>
    </div>
  </div><!-- /.navbar -->
</div>