<div class="masthead">
  <h3 class="muted">
  	<a href="/"><img src="/static/img/user.png" width="50" style="margin-left: 10px;"/></a>
  	<a href="/">BeerCoin</a>
  </h3>
  <h4 class="muted">
  	The Beer to Beer network.
  </h4>
  <div class="navbar">
    <div class="navbar-inner">
		<div class="container">
		  <ul class="nav">
		    <li><a href="/#/profile/{{appState.user.username}}">Home</a></li>
		    <li><a href="/#/profiles/">People around you</a></li>
		  </ul>
		  <ul class="nav pull-right">
		    <li class="profile_with_icon">
		    	<a href="/#/profile/{{appState.user.username}}">
		    		<img src="{{appState.user.icon}}" class="img-circle pull-left"/>
		    		Profile
		    	</a>
		    </li>
		    <li><a href="/accounts/signout/">Log out</a></li>
		  </ul>
		</div>
    </div>
  </div><!-- /.navbar -->
</div>

<div ng-show="appState.messageBox.visible">
	<div class="popover fade right in" style="top: 4px; left: 320px; display: block;">
		<div class="arrow"></div>
		<h3 class="popover-title">
			<div class="pull-right">
				<button class="close" ng-click="appState.messageBox.visible=false">&times;</button>
			</div>
			<b>Message from {{appState.messageBox.message.from.name}}</b>
			<br/>
			In {{appState.messageBox.message.from.location}},
			has {{appState.messageBox.message.from.balance}} Beers
		</h3>
		<div class="popover-content">
			<div class="media">
			  <a class="pull-left" href="/#/profile/{{appState.messageBox.message.from.username}}">
				<img src="{{appState.messageBox.message.from.icon}}" ng-click="appState.messageBox.visible=false" class="media-object img-circle pull-left" width="50"/>
			  </a>
			  <div class="media-body">
				<p>
					{{appState.messageBox.message.message}}
				</p>
				<p ng-show="appState.messageBox.message.comment">
					{{appState.messageBox.message.comment}}
				</p>
			  </div>
			</div>
		</div>
	</div>
</div>
