<div ng-show="show_popup">
	<div class="popover fade right in" style="top: 4px; left: 320px; display: block;">
		<div class="arrow"></div>
		<h3 class="popover-title">Message from someone</h3>
		<div class="popover-content">Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</div>
	</div>
</div>

<a ng-click="showPopup()">Popover on right</a>
