	<h1>Profile of {{profile.name}}</h1>

	<p>You can only do this if you are logged in. <a href="index-loggedin.html">Home</a> | <a href="index.html">Log out</a>.</p>

	<p>
		<img ng-src="{{profile.icon}}" width="150"/>
		<br/>
		<b>
			Beer credits: {{profile.balance}}
			<br/>
			Location: {{profile.location}}
		</b>
	</p>

	<h2>Gone out 3 times in the last 5 months</h2>

	<ul>
		<li>Had 4 beers with <a href="people-profile.html">Abbey</a>, 2 days ago</li>
		<li>Had 1 beer with <a href="people-profile.html">Ace</a>, 4 weeks ago</li>
		<li>Had 2 beers with <a href="people-profile.html">Abbey</a>, 2 months ago</li>
	</ul>
	
	<h2>Actions</h2>

	<form>
		<fieldset>
			We have just been out.
			<br/><br/>
			<select><option>I paid</option><option>I got</option></select>
			<select><option>1</option><option>2</option><option>3</option></select>
			Beers
			<br/><br/>
			<input type="button" value="Do it!"/>
		</fieldset>
	</form>

	<br/>

	<form>
		<fieldset>
			I want to owe this person
			<br/><br/>
			<select><option>1</option><option>2</option><option>3</option></select>
			Beers
			<br/><br/>
			<input type="button" value="Do it!"/>
		</fieldset>
	</form>
