<div class="page-header">
	<h1>Profile of {{profile.name}}</h1>
</div>

<div class="row">
	<div class="span2">
	    <div class="thumbnail">
			<img ng-src="{{profile.icon}}" width="200"/>
	    </div>
	</div>
	<div class="span2">
		<b>
			Beer credits: {{profile.balance}}
			<br/>
			Location: {{profile.location}}
		</b>
	</div>
	
	<div ng-switch on="appState.user.username!=profile.name">
		<div ng-switch-when="true">
			<div class="span4">

				<button ng-click="issue()" class="btn btn-primary btn-huge">I owe them a beer</button>
			</div>
			<div class="span4">
				<button ng-click="redeem()" class="btn btn-primary btn-huge">They gave me my beer</button>
			</div>
		</div>
	</div>
</div>

	<h2>Gone out {{(profile.actions|filter:{verb:"freed"}).length}} times in the last 5 months</h2>

	<ul>
		<li ng-repeat="action in profile.actions"><div ng-include="" src="'/static/tmpl/formatted_actions.tmpl'"></li>
	</ul>
