<div class="page-header">
	<h1>
		Find people
		<span ng-switch on="!search.location">
			<span ng-switch-when="false"> in {{search.location}}</span>
		</span>
	</h1>
</div>

<div class="well">
	<form>
		<fieldset>
			Filter by location: <input ng-model="search.location" type="text"/>
			<br/>
			Filter by credit:
				<select ng-model="search.balance">
					<option value="0">Don't mind</option>
					<option value="1">Has beers</option>
					<option value="2">In Beer debt</option>
				</select>
		</fieldset>
	</form>
</div>

<ul class="thumbnails">
	<div class="row" style="margin-bottom:20px" ng-repeat="group in profiles|filter:searcher|group:4">
		<div class="span3" data-ng-repeat="profile in group">
		    <div class="thumbnail">
			  <a href="/#/profile/{{profile.username}}"><img src="{{profile.icon}}" width="100%"/></a>
		      <h3>{{profile.name}}</h3>
		      <h4>{{profile.location}} (Balance: {{profile.balance}} Beers)</h4>
		      <p>
				<a href="/#/profile/{{profile.username}}" class="btn">Go to profile</a>
		      </p>
		    </div>
		</div>
	</div>
</ul>

<br/><br/>