<div class="page-header">
	<h1>Profile of {{profile.name}}</h1>
	<h2>In {{profile.location}}, balance: {{profile.balance}} beers</h2>
</div>

<div class="row">
	<div class="span3">
	    <div class="thumbnail">
			<img ng-src="{{profile.icon}}" width="100%"/>
	    </div>
	</div>
	<div ng-switch on="appState.user.username!=profile.name">
		<div ng-switch-when="true">
			<div class="span3" ng-show="$parent.appState.user.balance > 0">
				<div class="well text-center">
					<img src="/static/img/beer_got.png" ng-click="redeem()"/>
					<br/><br/>
					<button ng-click="redeem()" id="redeemButton" data-loading-text="They gave me my beer..." class="btn btn-primary btn-huge">They gave me my beer</button>
				</div>
			</div>
			<div class="span3">
				<div class="well text-center">
					<img src="/static/img/beer_gave.png" ng-click="issue()"/>
					<br/><br/>
					<button ng-click="issue()" id="issueButton" data-loading-text="I owe them a beer..." class="btn btn-primary btn-huge">I owe them a beer</button>
				</div>
			</div>
			<div class="span3">
				<div class="well text-center">
					<img src="/static/img/beer_lets.png" ng-click="ask()"/>
					<br/><br/>
					<a href="#letsGoModal" role="button" class="btn btn-success" data-toggle="modal">Let's go for a Beer!</a>
				</div>
			</div>
		</div>
	</div>
</div>

	<h2>Gone out {{(profile.actions|filter:{verb:"redeemed"}).length}} times in the last 5 months</h2>

<ul class="media-list">
	<li ng-repeat="action in profile.actions" class="media"><div ng-include="" src="'/static/tmpl/formatted_actions.tmpl'"></li>
</ul>

<!-- Modals -->
<div id="thankYouModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="thankYouModal">Thank you!</h3>
  </div>
  <div class="modal-body">
    <p>You are awesome.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">I know, I know</button>
  </div>
</div>

<div id="letsGoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="thankYouModal">Let's go out for a Beer!</h3>
  </div>
  <div class="modal-body">
    <p>
	  <div class="control-group">
	    <label class="control-label" for="inputComment">I do have a comment:</label>
	    <div class="controls">
	    	<textarea id="inputComment" ng-model="inputComment" class="input-block-level" rows="5" placeholder="Comment"></textarea>
	    </div>
	  </div>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button ng-click="ask()" id="askButton" class="btn btn-primary btn-huge">Let's go for a Beer!</button>
  </div>
</div>

<br/><br/>
